@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Sharp");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
:root {
  --color-black: #0f141e;
  --color-white: #f7f7f7;
  --color-gray: #878a8f;

  --color-red: #ff6666;
  --color-green: #78f2c5;
  --color-violet: #9999ff;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.25rem;
}
h5 {
  font-size: 1rem;
}
h6 {
  font-size: 0.875rem;
}
p {
  font-size: 1.2rem;
  font-weight: 400;
}
.text_muted {
  color: var(--color-gray);
}
.select_all {
  user-select: all;
}
/* ---------------------------------- APP ---------------------------------- */
.app {
  height: 100vh;
  width: 100vw;
  user-select: none;
  background: var(--color-white);
  color: var(--color-black);
  font-family: 'Open Sans', sans-serif;
}